@model Financas.Models.MovimentacoesPorUsuarioModel

@using (Html.BeginForm("MovimentacoesPorUsuario", "Movimentacao", FormMethod.Get))
{
   @Html.LabelFor(m => m.UsuarioId,"Usuario")
   @Html.DropDownListFor(m => m.UsuarioId, new SelectList(Model.Usuarios,"Id","Nome"),"Escolha um usuário")

    <input type="submit" value="Buscar" />

    
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>usuario</th>
            <th>Tipo</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model.Movimencacoes)
        {
            <tr>
                <th>@m.Usuario.Nome</th>
                <th>@m.Tipo</th>
                <th>@m.Valor</th>
            </tr>
        }
    </tbody>


</table>